<header>

    <app-nav-bar></app-nav-bar>
</header>
<div class="container-md">
    <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Titulo de la Peliculas</h5>
            <p class="card-text">sinopsis</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Horarios</li>
            <li class="list-group-item">Duración</li>
            <li class="list-group-item">Info de doblaje</li>
            <li class="list-group-item">Reparto</li>
        </ul>
        <div class="card-body">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <a style="text-decoration: none; color:aliceblue" href="projections" class="card-link">
                    <button class="btn btn-secondary me-md-2" type="button">
                        Reservar!
                    </button>
                </a>

                <a style="text-decoration: none; color:aliceblue" href="listings" class="card-link">
                    <button class="btn btn-secondary me-md-2" type="button">
                        Volver!
                    </button>
                </a>

            </div>


        </div>
    </div>
</div>