<header>
    <app-nav-bar></app-nav-bar>
</header>

<h2>Ingrese sus datos para realizar la compra</h2>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">Nombre</span>
    <input type="text" class="form-control" placeholder="Nombre Apellido" aria-label="Username" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">Cédula</span>
    <input type="text" class="form-control" placeholder="X XXXX XXXX" aria-label="Id" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">Número de teléfono</span>
    <input type="text" class="form-control" placeholder="+506 0000 0000" aria-label="phone" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">Correo electrónico</span>
    <input type="text" class="form-control" placeholder="user@email.com" aria-label="email" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">Número de tarjeta</span>
    <input type="text" class="form-control" placeholder="XXXX XXXX XXXX XXXX" aria-label="card" aria-describedby="addon-wrapping">
</div>

<div class="input-group flex-nowrap" style="margin: 1%; width: 50%;">
    <span class="input-group-text" id="addon-wrapping" style="background-color: lightblue; color: black; font-size: 18px">CVV</span>
    <input type="text" class="form-control" placeholder="000" aria-label="cvv" aria-describedby="addon-wrapping">
</div>

<a style="text-decoration: none;" href="client-form" class="card-link" >
    <button style="margin-bottom: 20px" class="btn btn-secondary me-md-2" type="button">
        Finalizar compra
    </button>
  </a>