<div class="container mt-4">
  <h2>Gestionar Salas</h2>
  <hr />

  <!-- Formulario para crear/editar sucursales -->
  <form [formGroup]="theaterForm" (ngSubmit)="saveTheater()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="idSala">ID:</label>
          <input
            type="number"
            id="idSala"
            class="form-control"
            formControlName="idSala"
            [readonly]="editMode"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="numFilas">Filas:</label>
          <input
            type="number"
            id="numFilas"
            class="form-control"
            formControlName="numFilas"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="numColumnas">Columnas:</label>
          <input
            type="number"
            id="numColumnas"
            class="form-control"
            formControlName="numColumnas"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombreSucursal">Nombre Sucursal:</label>
          <select
            id="nombreSucursal"
            class="form-control"
            formControlName="nombreSucursal"
            required
          >
            <option value="" disabled selected>Selecciona una sucursal</option>
            <option *ngFor="let branch of branchList" [value]="branch.nombre">
              {{ branch.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!theaterForm.valid"
      >
        {{ editMode ? "Editar" : "Guardar" }}
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="createNewTheater()"
      >
        Cancelar
      </button>
      <button type="button" class="btn btn-secondary" (click)="returnBack()">
        Atrás
      </button>
    </div>
  </form>

  <!-- Lista de sucursales -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Sucursal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let theater of theaterList">
        <td>{{ theater.idSala }}</td>
        <td>{{ theater.nombreSucursal }}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="editTheater(theater)">
            Editar
          </button>
          <button
            class="btn btn-sm btn-danger"
            (click)="deleteTheater(theater)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
