<div class="container-md">
  <div class="card" style="width: 100%">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ movie.nombreOriginal }}</h5>
      <p class="card-text">{{ movie.nombreComercial }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ movie.duracion }}</li>
      <li class="list-group-item">{{ movie.clasificacion }}</li>
    </ul>
    <div class="card-body">
      <a
        style="text-decoration: none; color: aliceblue"
        href="movie-info"
        class="card-link"
      >
        <button class="btn btn-secondary me-md-2" type="button">
          Ver más!
        </button>
      </a>
    </div>
  </div>
</div>
