<div class="container-md">
    <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Título de la película</h5>
            <p class="card-text">descripción.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">horario</li>
            <li class="list-group-item">hora de duración</li>
            <li class="list-group-item">info de doblaje</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Reservar!</a>
        </div>
    </div>
</div>