<div class="container mt-4">
  <h2>Gestionar Sucursales</h2>
  <hr />

  <!-- Formulario para crear/editar sucursales -->
  <form [formGroup]="branchForm" (ngSubmit)="saveBranch()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            class="form-control"
            formControlName="nombre"
            [readonly]="editMode"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ubicacion">Ubicación:</label>
          <input
            type="text"
            id="ubicacion"
            class="form-control"
            formControlName="ubicacion"
            required
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="numeroSalas">Número de Salas:</label>
          <input
            type="number"
            id="numeroSalas"
            class="form-control"
            formControlName="numeroSalas"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!branchForm.valid"
      >
        {{ editMode ? "Editar" : "Guardar" }}
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="createNewBranch()"
      >
        Cancelar
      </button>
      <button type="button" class="btn btn-secondary" (click)="returnBack()">
        Atrás
      </button>
    </div>
  </form>

  <!-- Lista de sucursales -->
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Número de Salas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let branch of branchList">
        <td>{{ branch.nombre }}</td>
        <td>{{ branch.ubicacion }}</td>
        <td>{{ branch.numeroSalas }}</td>
        <td>
          <button class="btn btn-sm btn-info" (click)="editBranch(branch)">
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteBranch(branch)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
