<header>
  <app-nav-bar></app-nav-bar>
</header>

<main class="container presentation">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">CineTEC</h5>
          <p class="card-text">
            Bienvenido a CineTEC. Disfruta de las mejores películas.
          </p>
          <a href="#" class="btn btn-primary">Ver Menú</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Seleccione una sucursal</h5>
          <select class="form-select" aria-label="Seleccione una sucursal">
            <option selected>Seleccione una sucursal</option>
            <option *ngFor="let branch of branchList">
              {{ branch.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</main>
