<!-- Seleccion de asientos -->

<header>
    <app-nav-bar></app-nav-bar>
</header>

<select class="form-select" aria-label="Seleccione la cantidad de asientos">
    <option selected>Seleccione la cantidad de asientos</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

</select>

<body>
    <div class="grid-container" id="grid">
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <!-- Agrega más elementos div para más celdas -->
    </div>
    <script src="script.js"></script>
</body>
